.container
{
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}

.bold
{
    font-weight: bold;
}

form label
{
    margin-bottom: 0;
    font-weight: bold;
}

form small
{
    display: block;
    margin-bottom: 12px;
}

#preview code
{
    color: inherit;
}

#preview pre
{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.preview-wrapper
{
    max-width: 360px;padding: 10px;border: 1px dashed;
}

.container.results
{
    text-align: center;
    margin-top: 12vh;
}

.container.results ul
{
    list-style: none;
    text-align: left;
    padding: 0;
    margin-bottom: 15px;
}

.container.results ul li
{
    margin-bottom: 20px;
}

.container.results h3
{
    text-align: left;
    margin-top: 20px;
}

.container.results h4
{
    margin-top: 15px;
    margin-bottom: -15px;
}

.container.results .btn
{
    margin-top: 15px;
}
